


:root {
    --red: rgb(55, 83, 168);
    
}

body {
    width: 360px;
    /* Set the width according to your design */
    /* Set the height according to your design */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}


.logo {
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    border-radius: 12px;
}
.logo img {
    width: 24px;
    margin-right: 10px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;

    background: linear-gradient(45deg, black, rgb(0, 64, 212));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


h2 {
    font-size: 16px;
    color: #333;
    margin: 20px 0;
}


p {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 2em;
}

p > span {
    font-size: 18px;
    font-weight: bold;
}


section {
    margin: 20px 0;
}

section label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

section select {
    width: 100%;
    padding: 10px;
    background-color: #ececec;
    border: none;
    outline: none;
    border-radius: 12px;
}

section select option {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#select-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    /* Blue background */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#select-button:hover {
    background-color: #0044a3;
    /* Darker blue on hover */
}


#select-button:active {
    background-color: #000a53;
    
    /* Darker blue on hover */
}

#message  {
    background-color: rgb(215, 255, 215);
    padding: 10px;
    border-radius: 12px;
    display: none;
    margin-top: 40px;
}


#message button {
    font-size: 12px;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: #005337;
    color: white;
    float: right;
    margin: -20px -20px 0 0;
}

#message button:hover {
    background-color: #00a251;
    cursor: pointer;
}


#language-input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #e7f3ff;
}

#languages-list {
    box-sizing: border-box;
    width: 100%;
    margin: 20px 0;
    padding: 0;
    height: 120px;
    overflow-y: scroll;
}

#languages-list li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

#languages-list li:hover {
    list-style: none;
    background-color: #e7f3ff;
}